@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #111111;
  --color-white-400: #FFFFFF;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply dark:bg-gray-900 dark:text-gray-50 duration-200;
  }
}